<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Thông tin hoá đơn</div>
            <div class="card-category">Thông tin chi tiết hoá đơn từ bác sỹ</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Khách hàng:</span>
                            <span>{{benhnhan.hoTen}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Ngày sinh:</span>
                            <span> {{benhnhan.ngaySinh.strftime('%Y-%m-%d') }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Giới tính:</span>
                            {% if benhnhan.sex|string == 'Sex.MALE' %}
                            <span>nam</span>
                            {% else %}
                            <span>nữ</span>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">CCCD:</span>
                            <span>{{benhnhan.maCCCD}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Mã phiếu khám bệnh:</span>
                            <span>{{phieukhambenh.maPhieuKham}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Bác sỹ khám bệnh: </span>
                            <span>{{bacsi.hoTen}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Mã nhân viên (Bác sỹ): </span>
                            <span>{{bacsi.maNV}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Ngày tạo hoá đơn:</span>
                            <span>{{ phieukhambenh.ngayLap.strftime('%Y-%m-%d') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>