<footer id="aboutus" class="text-white text-center text-lg-start" style="background-color: #23242a;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Về Chúng Tôi</h5>

          <p>
           cam kết hướng tới sự xuất sắc trong hoạt động thăm khám lâm sàng, đào tạo và nghiên cứu nhằm cung cấp dịch vụ chăm sóc tốt nhất. Mạng lưới chăm sóc sức khỏe của chúng tôi bao gồm hơn 2.900 giường bệnh hoạt động trên khắp 14 bệnh viện and 4 phòng khám. Trải qua 26 năm hoạt động, Hoàn Mỹ đã tạo dựng được uy tín vững chắc trong việc cung cấp dịch vụ chăm sóc sức khỏe lấy bệnh nhân làm trung tâm, với chi phí hợp lý và chất lượng cao. Chúng tôi tự hào trong việc nỗ lực cải thiện chất lượng dịch vụ chăm sóc sức khỏe ở Việt Nam, góp phần vào sự phồn vinh và an sinh của đất nước.
          </p>

          <p>
           To advance the health and well-being of all Vietnamese people. Care with Heart.

Vì mục tiêu nâng cao sức khỏe và hạnh phúc của tất cả người dân Việt Nam. Tận tâm chăm sóc.
          </p>

        </div>
        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Opening hours</h5>

          <table class="table text-center text-white">
            <tbody class="font-weight-normal">
              <tr>
                <td>Mon - Thu:</td>
                <td>8am - 9pm</td>
              </tr>
              <tr>
                <td>Fri - Sat:</td>
                <td>8am - 1am</td>
              </tr>
              <tr>
                <td>Sunday:</td>
                <td>9am - 10pm</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="https://github.com/duykhoi1504/Clinic_Manager.git">KHOI_NHAN_NAM</a>
    </div>
    <!-- Copyright -->
  </footer>