{% extends "layout/base.html" %}
{% block title %} trang đăng kí {% endblock %}

{% block content %}
<h1 class="text-center text-info">đăng kí tài khoản</h1>

<!--flash message-->
<!--{% with messages = get_flashed_messages() %}-->
<!--  {% if messages %}-->
<!--    {% for m in messages %}-->
<!--      <p>{{m}}</p>-->
<!--    {% endfor %}-->
<!--  {% endif %}-->
<!--{% endwith %}-->
<!--end flash message-->
{% if err_msg %}
<div class="alert alert-danger">
    {{err_msg}}
</div>
{% endif %}
<!-- enctype để chèn tập tin-->
<form method="post" action="/register" enctype="multipart/form-data">
    <div class=" mb-3 mt-3">
        <label for="name">Tên người dùng</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="name" required>
    </div>

    <div class=" mb-3 mt-3">
        <label for="email">Tài khoản</label>
        <input type="text" class="form-control" id="email" name="username" placeholder="Tên đăng nhập" required>
    </div>

    <div class=" mt-3 mb-3">
        <label for="pwd">Mật khẩu</label>
        <input type="password" class="form-control" id="pwd" name="password" placeholder="Mật khẩu" required>
    </div>

 <div class=" mt-3 mb-3">
        <label for="confirm">Xác nhận Mật khẩu</label>
        <input type="password" class="form-control" id="confirm" name="confirm" placeholder="confirm" required>
    </div>

    <div class=" mt-3 mb-3">
        <label for="avatar">Ảnh đại diện</label>
        <input type="file" class="form-control" id="avatar" name="avatar">
    </div>

    <div class="form-floating mt-3 mb-3">
        <button type="submit" class="btn btn-danger">Đăng ký</button>
    </div>
</form>
{% endblock %}